.myCard {
  max-width: 500px;
  border: 2px solid blue;
  margin: 0 auto;
}

img {
  max-width: 500px;
}

h2, h3 {
  text-align: center;
}
p {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-left: 30px;
}

